Repository enthusiastica/eslint-mdx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{html,json,md,scss,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,js,ts}": [
    "eslint",
    "git add"
  ]
}

chore(release): 0.1.0
  CHANGELOG.md
Due: prettier --write

fix: overrides in node_modules seems not working
  .babelrc
  .eslintrc.js
  .travis.yml
  README.md
  package.json
  src/index.ts
  test/test.mdx
  test/test.tsx
  yarn.lock
Due: prettier --write, eslint

chore(release): 0.1.1
  CHANGELOG.md
Due: prettier --write

fix: show correct column and line on lint error
  src/parser.ts
  src/types.d.ts
Due: eslint

docs: fix typo, and npm badge
  README.md
  package.json
  src/parser.ts
  types.d.ts
Due: prettier --write, eslint

chore(release): 0.1.2
  CHANGELOG.md
Due: prettier --write

fix: upgrade peer dependency eslint to >= 6.0.0 (#3 #4)
  package.json
Due: prettier --write

docs: it usually is used as dev dependency
  README.md
  test/test.mdx
Due: prettier --write, eslint

chore(release): 0.1.3
  CHANGELOG.md
Due: prettier --write

feat: support custom parser like babel-eslint
  .eslintrc.js
  package.json
  src/parser.ts
  yarn.lock
Due: prettier --write, eslint

docs: notice about custom parser
  README.md
Due: prettier --write

chore(release): 0.2.0
  CHANGELOG.md
Due: prettier --write

fix: eslint@5 is actually supported
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore(release): 0.2.1
  CHANGELOG.md
Due: prettier --write

fix: inline jsx and comment parsing error, close #4, #7
  package.json
  src/parser.ts
  src/traverse.ts
  src/utils.ts
  test/fixture1.mdx
  test/fixture2.mdx
  test/fixture3.mdx
Due: prettier --write, eslint

reproduce inline jsx issue [ci skip]
  src/traverse.ts
  test/fixture.mdx
Due: eslint

chore(release): 0.3.0
  CHANGELOG.md
Due: prettier --write

fix: .* could not match multi lines, use [\s\S]* instead, close #4
  package.json
  src/tsconfig.json
  src/utils.ts
  test/fixture4.mdx
  tsconfig.json
Due: prettier --write, eslint

chore(release): 0.3.1
  CHANGELOG.md
Due: prettier --write

feat: add body and comments into ast, fix #12
  .eslintrc.js
  src/parser.ts
  test/FollowReveal.tsx
  test/Playground.tsx
  test/README.md
  test/component.tsx
  test/fixture4.mdx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

refactor: simplify parser code
  src/parser.ts
Due: eslint

docs: notice compatible plugins
  README.md
  assets/heart.svg
  package.json
Due: prettier --write

chore(release): 0.4.0
  CHANGELOG.md
Due: prettier --write

perf: extract parseMdx, exports everything in package
  README.md
  package.json
  src/helper.ts
  src/index.ts
  src/parser.ts
  src/regexp.ts
  src/traverse.ts
  src/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint

chore(release): 0.4.1
  CHANGELOG.md
Due: prettier --write

feat: add `@rxts/mdx/no-unused-expressions` rule to replace eslint's
  .eslintrc.js
  CHANGELOG.md
  README.md
  package.json
  src/index.ts
  src/parser.ts
  src/rules/index.ts
  src/rules/no-unused-expressions.ts
  tsconfig.json
  types.d.ts
Due: prettier --write, eslint

chore(release): 0.5.0
  CHANGELOG.md
Due: prettier --write

feat: processor support for normalize comments in jsx [ci skip]
  README.md
  assets/heart.svg
  jest.config.js
  package.json
  src/helper.ts
  src/index.ts
  src/normalizer.ts
  src/parser.ts
  src/processors.ts
  src/regexp.ts
  src/rules/no-unused-expressions.ts
  src/traverse.ts
  test/component.tsx
  test/fixture1.mdx
  test/fixture3.mdx
  test/normalizer.test.ts
  test/test.tsx
  types.d.ts
  yarn.lock
Due: prettier --write, eslint

feat: add new rule `no-jsx-html-comments`, close #13
  .travis.yml
  README.md
  src/index.ts
  src/normalizer.ts
  src/parser.ts
  src/processors.ts
  src/regexp.ts
  src/rules/index.ts
  src/rules/no-jsx-html-comments.ts
  src/rules/no-unused-expressions.ts
  src/rules/types.ts
  test/fixture1.mdx
  test/normalizer.test.ts
Due: prettier --write, eslint

chore: bump version, remove unnecessary dependency remark-stringify
  README.md
  package.json
  src/parser.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): 0.6.0
  CHANGELOG.md
Due: prettier --write

feat: add new rule no-unescaped-entities
  .eslintrc.js
  .travis.yml
  package.json
  src/helper.ts
  src/index.ts
  src/normalizer.ts
  src/parser.ts
  src/regexp.ts
  src/rules/index.ts
  src/rules/no-jsx-html-comments.ts
  src/rules/no-unescaped-entities.ts
  src/rules/types.ts
  src/traverse.ts
  test/fixture1.mdx
  types.d.ts
  yarn.lock
Due: prettier --write, eslint

refactor: totally replace no-unescaped-entities, default warning
  README.md
  package.json
  src/helper.ts
  src/index.ts
  src/normalizer.ts
  src/parser.ts
  src/regexp.ts
  src/rules/helper.ts
  src/rules/index.ts
  src/rules/no-jsx-html-comments.ts
  src/rules/no-unescaped-entities.ts
  src/rules/no-unused-expressions.ts
  src/rules/types.ts
  src/traverse.ts
  src/types.ts
  test/fixture1.mdx
  test/helper.test.ts
  test/normalizer.test.ts
Due: prettier --write, eslint

chore(release): 0.7.0
  CHANGELOG.md
Due: prettier --write

feat: export a parse function for compatibility usage
  package.json
  src/parser.ts
Due: prettier --write, eslint

chore(release): 0.7.1
  CHANGELOG.md
Due: prettier --write

feat: split into two packages, use lerna as publisher (#22)
  .eslintignore
  .eslintrc.js
  .gitignore
  .travis.yml
  README.md
  config/index.js
  jest.config.js
  lerna.json
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/index.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/regexp.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-mdx/tsconfig.json
  packages/eslint-mdx/typings.d.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/base.ts
  packages/eslint-plugin-mdx/src/configs/index.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/index.ts
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/index.ts
  packages/eslint-plugin-mdx/src/rules/no-jsx-html-comments.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/src/rules/no-unused-expressions.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  packages/eslint-plugin-mdx/tsconfig.json
  packages/eslint-plugin-mdx/typings.d.ts
  src/index.ts
  src/tsconfig.json
  test/helper.test.ts
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore(release): 0.0.0
  CHANGELOG.md
Due: prettier --write

chore: fix publish version issue
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(release): 0.8.1
  CHANGELOG.md
Due: prettier --write
