Repository enthusiastica/eslint-mdx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: wrong end.offset - close #279 (#280)
  package.json
  packages/eslint-mdx/src/traverse.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/jsx-in-list.mdx
  yarn.lock
Due: prettier --write, eslint

chore: release package(s)
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

feat: use processor to display remark reports directly (#281)
  .eslintrc.js
  package.json
  packages/eslint-plugin-mdx/src/configs/base.ts
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/index.ts
  packages/eslint-plugin-mdx/src/processors/index.ts
  packages/eslint-plugin-mdx/src/processors/remark.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/processor.mdx
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, eslint

fix: cosmiconfig returns null if no config found (#285)
  package.json
  packages/eslint-plugin-mdx/src/rules/helpers.ts
  yarn.lock
Due: prettier --write, eslint

feat: fix incorrect node loc (#288)
  .codesandbox/ci.json
  README.md
  packages/eslint-mdx/README.md
  packages/eslint-mdx/src/helpers.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/rules/helpers.ts
  packages/eslint-plugin-mdx/src/rules/index.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/typings.d.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/287.mdx
  test/helpers.test.ts
  test/no-unescaped-entities.test.ts
  test/parser.test.ts
Due: prettier --write, eslint

refactor: move getShortLang outside markdown processor (#291)
  README.md
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/src/processors/helpers.ts
  packages/eslint-plugin-mdx/src/processors/index.ts
  packages/eslint-plugin-mdx/src/processors/markdown.ts
  packages/eslint-plugin-mdx/src/processors/options.ts
  packages/eslint-plugin-mdx/src/processors/remark.ts
  packages/eslint-plugin-mdx/src/processors/types.ts
  packages/eslint-plugin-mdx/src/rules/helpers.ts
  test/helpers.test.ts
Due: prettier --write, eslint

fix: add helper getPositionAt to fix incorrect loc (#293)
  .eslintrc.js
  package.json
  packages/eslint-mdx/src/helpers.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/src/processors/markdown.ts
  packages/eslint-plugin-mdx/src/processors/types.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/__snapshots__/helpers.test.ts.snap
  test/fixtures.test.ts
  test/fixtures/292.mdx
  test/helpers.test.ts
Due: prettier --write, eslint

fix: clean up `rebass` which is not bundled with mdx (#295)
  package.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  yarn.lock
Due: prettier --write, eslint

chore: do not use Array#entries for now (#296)
  packages/eslint-mdx/src/helpers.ts
Due: eslint

fix: check is eslint-plugin-react available (#299)
  .eslintrc.js
  .huskyrc.js
  .simple-git-hooks.js
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/src/configs/index.ts
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/helpers.ts
  packages/eslint-plugin-mdx/src/index.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/helpers.test.ts
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore(deps): update dependency @1stg/lib-config to ^1.2.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @babel/core to ^7.13.14
  package.json
  yarn.lock
Due: prettier --write

fix: result could be null in `plugins.reduce` (#302)
  packages/eslint-plugin-mdx/src/rules/helpers.ts
Due: eslint

feat: split markdown messages in postprocess (#303)
  packages/eslint-plugin-mdx/src/processors/markdown.ts
  packages/eslint-plugin-mdx/src/processors/remark.ts
  test/__snapshots__/fixtures.test.ts.snap
Due: eslint

feat: use official eslint-plugin-markdown package (#304)
  .lintstagedrc.js
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/processors/index.ts
  packages/eslint-plugin-mdx/src/processors/markdown.ts
  packages/eslint-plugin-mdx/src/processors/remark.ts
  packages/eslint-plugin-mdx/src/processors/types.ts
  packages/eslint-plugin-mdx/typings.d.ts
  yarn.lock
Due: prettier --write, eslint

chore: housekeeping, improve developing workflow
  .eslintrc.js
  .travis.yml
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  test/helpers.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint

feat: performance improvement via cache
  packages/eslint-plugin-mdx/src/rules/helpers.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  test/fixtures/dir.mdx/.gitkeep
  test/remark.test.ts
Due: eslint

feat: fallback to async API on processSync error via synckit (#307)
  .travis.yml
  package.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  packages/eslint-plugin-mdx/src/worker.ts
  test/fixtures/async/.remarkrc
  test/remark.test.ts
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

fix: only apply fix once for the whole file (#309)
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  packages/eslint-plugin-mdx/src/worker.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/style/.remarkrc
  test/remark.test.ts
Due: eslint

chore: fix tsconfig usage problem, add comments
  packages/eslint-mdx/tsconfig.json
  packages/eslint-plugin-mdx/tsconfig.json
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.lib.json
Due: prettier --write

feat: bump all upgradable deps, fix related usage (#321)
  .codesandbox/ci.json
  .eslintrc.js
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/helpers.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-mdx/typings.d.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/helpers.ts
  packages/eslint-plugin-mdx/src/processors/helpers.ts
  packages/eslint-plugin-mdx/src/processors/options.ts
  packages/eslint-plugin-mdx/src/processors/types.ts
  packages/eslint-plugin-mdx/src/rules/helpers.ts
  packages/eslint-plugin-mdx/src/rules/no-jsx-html-comments.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  packages/eslint-plugin-mdx/typings.d.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures.test.ts
  test/fixtures/code-blocks.md
  test/parser.test.ts
  test/remark.test.ts
  yarn.lock
Due: prettier --write, eslint

ci: migrate to GitHub Actions instead (#322)
  .github/workflows/ci.yml
  .travis.yml
  README.md
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
Due: prettier --write

feat: call `creatSyncFn` lazily for performance (#324)
  package.json
  packages/eslint-plugin-mdx/src/rules/remark.ts
  yarn.lock
Due: prettier --write, eslint

ci: remove unused codacy
  .github/workflows/ci.yml
Due: prettier --write

fix: upgrade synckit v0.3.3 for node compatibility (#326)
  package.json
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write

chore: extract `workerPath` for performance
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/remark.ts
  yarn.lock
Due: prettier --write, eslint

fix: should only fallback on parse error (#335)
  packages/eslint-mdx/src/traverse.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/334.mdx
Due: eslint

feat: resolve custom remark config on parsing (#337)
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/index.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/processor.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/index.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  packages/eslint-plugin-mdx/src/worker.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/336.mdx
  test/helpers.test.ts
  test/parser.test.ts
  test/remark.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(deps): update dependency type-coverage to ^2.18.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency cosmiconfig to ^7.0.1
  packages/eslint-mdx/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency unified to ^9.2.2
  packages/eslint-mdx/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{html,json,md,scss,yml}
  eslint: any of: *.{mdx,js,ts}
