Repository enthusiastica/eslint-mdx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{html,json,md,scss,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,js,ts}": [
    "eslint",
    "git add"
  ]
}

chore(deps): update dependency @1stg/tslint-config to ^2.1.0
  package.json
  yarn.lock
Due: prettier --write

fix: allow comments to contain `--` (#348)
  packages/eslint-mdx/src/regexp.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures.test.ts
  test/fixtures/comments.mdx
Due: eslint

chore: release package(s)
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore: upgrade (dev)Dependencies, prepare for eslint 8
  codechecks.yml
  package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/worker.ts
  test/no-unused-expressions.test.ts
  test/parser.test.ts
  test/remark.test.ts
  tslint.json
  yarn.lock
Due: prettier --write, eslint

feat: add support for eslint 8 (#353)
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/helpers.ts
  packages/eslint-plugin-mdx/src/rules/no-unused-expressions.ts
  packages/eslint-plugin-mdx/typings.d.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/comments.mdx
  yarn.lock
Due: prettier --write, eslint

chore(deps): update dependency @types/eslint to ^7.28.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^17.0.33
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to ^27.0.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^17.0.37
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-unicorn to ^37.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^27.0.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^17.0.38
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/eslint to ^7.29.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to ^27.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to ^2.5.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^27.1.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to ^10.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to ^27.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^17.0.39
  package.json
  yarn.lock
Due: prettier --write

feat: allow to ignore remark config
  README.md
  packages/eslint-mdx/README.md
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/processor.ts
  packages/eslint-mdx/src/types.ts
Due: prettier --write, eslint

fix: add missing changes and accomplish with pkg requirements
  packages/eslint-mdx/src/processor.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/worker.ts
  test/parser.test.ts
  test/remark.test.ts
Due: eslint

style: remove new empty line
  test/remark.test.ts
Due: eslint
