Repository enthusiastica/eslint-mdx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{html,json,md,scss,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,js,ts}": [
    "eslint",
    "git add"
  ]
}

chore(release): v1.4.5
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix(deps): update dependency remark-stringify to ^7.0.3 (#61)
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write

chore(release): v1.4.6
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

feat(configs): support overrides in recommended config for eslint>=6.4.0
  .eslintrc.js
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  yarn.lock
Due: prettier --write, eslint

fix: ts-jest@24.1.0 breaks tests
  package.json
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.5.0
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: correct repository field in package.json, bump devDependencies
  .eslintrc.js
  .travis.yml
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/helper.ts
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/no-jsx-html-comments.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/src/rules/no-unused-expressions.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  test/fixtures.test.ts
  test/helper.test.ts
  test/no-unused-expressions.test.ts
  test/parser.test.ts
  tsconfig.base.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.5.1
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

docs: fix incorrect CHANGELOG links
  .prettierignore
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(release): v1.5.2
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: react could be unavailable, add hardcoded component names to… (#70)
  .gitignore
  .travis.yml
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/tsconfig.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/tsconfig.json
  packages/eslint-plugin-mdx/typings.d.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.5.3
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore: fix type-coverage usage
  codechecks.yml
  packages/eslint-plugin-mdx/tsconfig.json
  tsconfig.json
Due: prettier --write

chore(release): v1.5.4
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

Develop (#71)
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/tsconfig.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/tsconfig.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(release): v1.5.5
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

test: use ts-node --skip-ignore to collect coverage correctly :tada:
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint

fix(deps): bump (dev)Dependencies, simplify output structure, prefer esm
  .eslintrc.js
  .prettierignore
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/tsconfig.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/tsconfig.json
  tsconfig.base.json
  tslint.json
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.5.6
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore: bump (dev)Dependencies, should we migrate to pnpm?
  package.json
  yarn.lock
Due: prettier --write

fix: always pass through parserOptions
  .eslintrc.js
  .travis.yml
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/helper.ts
  test/parser.test.ts
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.5.7
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: package content been cleared unexpectedly
  .travis.yml
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(release): v1.5.9
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

feat: try all known parsers at runtime if no parser specific
  .eslintrc.js
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  test/parser.test.ts
Due: eslint

chore(release): v1.6.0
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: handle loc and range could be undefined for babel-eslint
  .eslintrc.js
  .travis.yml
  package.json
  packages/eslint-mdx/src/parser.ts
  yarn.lock
Due: prettier --write, eslint

docs: update README
  .eslintcache
Due: none

chore(release): v1.6.1
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

refactor: use union @1stg/lib-config to simplify devDependencies
  .eslintcache
  .eslintrc.js
  .gitignore
  .travis.yml
  package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/no-jsx-html-comments.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  test/fixtures.test.ts
  test/helper.test.ts
  test/parser.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.6.2
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix(dpes): bump cosmiconfig to v6.0.0
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/helper.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/parser.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.6.3
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore: bump (dev)Dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: change organization of project repository to mdx-js :tada:
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write

docs: update README
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
Due: prettier --write

chore(release): v1.6.4
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore: bump (dev)Dependencies, add FUNDING.yml (#113)
  .eslintrc.js
  .github/FUNDING.yml
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write, eslint

chore(deps): update dependency @1stg/lib-config to ^0.1.15
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^12.12.17
  package.json
  yarn.lock
Due: prettier --write
