Repository enthusiastica/eslint-mdx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: support other extensions, detect parsers automatically
  .eslintrc.js
  README.md
  package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/src/configs/index.ts
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
Due: prettier --write, eslint

chore(release): 0.9.0
  CHANGELOG.md
Due: prettier --write

chore: bump versions
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: always extends base config
  lerna.json
  package.json
  packages/eslint-plugin-mdx/src/configs/overrides.ts
Due: prettier --write, eslint

chore(release): 0.9.1
  CHANGELOG.md
Due: prettier --write

chore: publish automatically on CI via lerna
  .commitlintrc.json
  .eslintignore
  .huskyrc
  .lintstagedrc
  .prettierrc
  .renovaterc
  .travis.yml
  .versionrc
  README.md
  jest.config.js
  lerna.json
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
Due: prettier --write, eslint

chore: update badges [ci skip]
  README.md
Due: prettier --write

fix: error from typescript parser in plain object
  .travis.yml
  lerna.json
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-mdx/typings.d.ts
  packages/eslint-plugin-mdx/package.json
  test/FollowReveal.tsx
  test/Playground.tsx
  test/README.md
  test/component.tsx
  test/fixture2.mdx
  test/fixture3.mdx
  test/fixture4.mdx
  test/fixtures/basic.mdx
  test/fixtures/basic.tsx
  yarn.lock
Due: prettier --write, eslint

chore(release): 0.9.3
  CHANGELOG.md
Due: prettier --write

docs: notice about monorepo package structure
  .travis.yml
  README.md
Due: prettier --write

fix: adjacent jsx nodes should be allowed in mdx
  package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/index.ts
  packages/eslint-plugin-mdx/src/rules/no-jsx-html-comments.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/src/rules/no-unused-expressions.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  test/fixtures/adjacent-jsx.mdx
  test/parser.test.ts
Due: prettier --write, eslint

ci: use custom npm scripts to deploy
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

fix: skip combine jsx nodes for root/jsx node
  CHANGELOG.md
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  test/fixtures/adjacent-jsx.mdx
  test/parser.test.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint

chore(release): 0.9.4
  .travis.yml
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write

chore: only run standard-version when tag not exsit
  .travis.yml
Due: prettier --write

fix: options unchangeable issue for default parser
  .prettierignore
  .travis.yml
  lerna.json
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/package.json
  test/helper.ts
  test/parser.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): 0.9.5
  CHANGELOG.md
Due: prettier --write

ci: find out why lerna does not publish automatically
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

chore: incorrect CHANGELOG
  CHANGELOG.md
Due: prettier --write

ci: try to use PR based lerna-changelog for monorepo support
  .gitignore
  .travis.yml
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade eslint-config-1stg usage
  .eslintrc.js
  .travis.yml
  package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/src/rules/no-unused-expressions.ts
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

fix: custom parser resolved undefined error
  package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  test/helper.ts
  test/parser.test.ts
Due: prettier --write, eslint

ci: enable conventional-commits and create-release via lerna
  .travis.yml
  lerna.json
  package.json
Due: prettier --write

chore(release): v0.9.6
  CHANGELOG.md
  lerna.json
  package.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

ci: deploy beta versions on develop branch
  .travis.yml
  lerna.json
Due: prettier --write

chore: sync repository url and CHANGELOG
  CHANGELOG.md
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write

fix: handler jsx parsing error, correct column info
  .travis.yml
  lerna.json
  packages/eslint-mdx/src/parser.ts
Due: prettier --write, eslint

chore(release): v0.9.8
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: incorrect jsx html comment end location
  packages/eslint-mdx/src/parser.ts
  test/parser.test.ts
  yarn.lock
Due: eslint

chore(release): v0.9.9
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

test: e2e test based on jest snapshots, close #20
  .gitignore
  .travis.yml
  package.json
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures.test.ts
  test/fixtures/adjacent-jsx.mdx
  test/fixtures/basic.mdx
  test/fixtures/no-jsx-html-comments.mdx
  yarn.lock
Due: prettier --write, eslint

docs: improve README and package dependencies
  .eslintrc.js
  .travis.yml
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write, eslint

chore(release): v0.9.10
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

test: add more unit and e2e tests
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/regexp.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-plugin-mdx/src/index.ts
  packages/eslint-plugin-mdx/src/rules/index.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/src/rules/no-unused-expressions.ts
  packages/eslint-plugin-mdx/typings.d.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures.test.ts
  test/fixtures/basic.mdx
  test/fixtures/no-jsx-html-comments.mdx
  test/fixtures/no-unescaped-entities.mdx
  test/fixtures/parser.mdx
  test/helper.ts
  test/no-unescaped-entities.test.ts
  test/no-unused-expressions.test.ts
  test/parser.test.ts
Due: eslint

chore(release): v0.9.11
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

docs: fix david package links
  README.md
  lerna.json
Due: prettier --write

feat: remove deprecated functions, test coverage 100%
  .travis.yml
  README.md
  package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/regexp.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/src/index.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/no-jsx-html-comments.mdx
  test/helper.ts
  test/no-unescaped-entities.test.ts
  test/parser.test.ts
Due: prettier --write, eslint

docs:\ update README
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
Due: prettier --write

chore(release): v0.10.0
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

docs: mention vscode-mdx in README
  .travis.yml
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
  tsconfig.base.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{html,json,md,scss,yml}
  eslint: any of: *.{mdx,js,ts}
