Repository enthusiastica/eslint-mdx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{html,json,md,scss,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{mdx,js,ts}": [
    "eslint",
    "git add"
  ]
}

feat: support top level JSX with blank lines
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/blank-lines.mdx
  test/parser.test.ts
Due: eslint

feat: all rebass components considered as global variables
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  yarn.lock
Due: prettier --write, eslint

feat: overrides react/jsx-no-undef to allow globals
  README.md
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/src/configs/overrides.ts
Due: prettier --write, eslint

ci: force publish on develop branch to ensure all packages latest
  .travis.yml
Due: prettier --write

chore(release): v0.11.0
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore: add type-coverage and codechecks support (#39)
  .gitignore
  .travis.yml
  README.md
  codechecks.yml
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-plugin-mdx/README.md
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint

chore(release): v0.11.1
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

docs: improve eslint@5 usage documentation
  README.md
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
Due: prettier --write

fix: use <$> instead of <> to wrap jsx blocks for parsing (#41)
  .eslintrc.js
  package.json
  packages/eslint-mdx/src/parser.ts
  test/parser.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): v0.11.2
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

feat: rename plugin to `eslint-plugin-mdx`, thanks to @azz (#42)
  .travis.yml
  README.md
  codechecks.yml
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/base.ts
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  test/no-unescaped-entities.test.ts
  test/no-unused-expressions.test.ts
  yarn.lock
Due: prettier --write, eslint

build: bump dependencies, use union @1stg configs, integrate with codacy
  .eslintrc.js
  .huskyrc.js
  .lintstagedrc.js
  .travis.yml
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/README.md
  test/helper.ts
  test/no-unescaped-entities.test.ts
  test/no-unused-expressions.test.ts
  test/parser.test.ts
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

feat: integrate with remark plugins without remark-lint, close #19 (#48)
  README.md
  lerna.json
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/rules/index.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  packages/eslint-plugin-mdx/typings.d.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/remark.mdx
  yarn.lock
Due: prettier --write, eslint

fix: cosmiconfig result could be null
  packages/eslint-plugin-mdx/src/rules/remark.ts
Due: eslint

build: fix type issue on build
  packages/eslint-plugin-mdx/src/rules/remark.ts
Due: eslint

ci: remove from-package flag
  .travis.yml
Due: prettier --write

chore(release): v1.1.1
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

feat: add support of partial + processing with filename, close #49
  .gitignore
  package.json
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  test/__snapshots__/fixtures.test.ts.snap
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.2.0
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: auto disable rule file-extension in favor of option `extensions`
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/remark.ts
  packages/eslint-plugin-mdx/src/rules/types.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.2.1
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

docs: add missing CHANGELOG
  CHANGELOG.md
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/CHANGELOG.md
Due: prettier --write

feat: resolve remark plugin with prefix `remark-` automatically
  package.json
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/index.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  test/helper.test.ts
Due: prettier --write, eslint

chore(release): v1.3.0
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: resolve relative plugin correctly
  packages/eslint-plugin-mdx/src/rules/helper.ts
  test/helper.test.ts
Due: eslint

chore(release): v1.3.1
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

feat: add support of linting plain markdown files
  .eslintrc.js
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/types.ts
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/src/rules/remark.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures.test.ts
  test/fixtures/markdown.md
  test/parser.test.ts
Due: prettier --write, eslint

chore(release): v1.4.0
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore: bump dev dependencies
  .eslintrc.js
  .prettierignore
  .travis.yml
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint

refactor: extract and export `getGlobals` helper
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/src/configs/helper.ts
  packages/eslint-plugin-mdx/src/configs/overrides.ts
  packages/eslint-plugin-mdx/src/index.ts
  test/helper.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.4.1
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix(deps): update dependency remark-mdx to ^1.4.3 (#56)
  packages/eslint-mdx/package.json
  yarn.lock
Due: prettier --write

chore(release): v1.4.2
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(deps): update dependency husky to ^3.0.5 (#55)
  package.json
  yarn.lock
Due: prettier --write

fix(core): add missing dependencies although it worked
  .eslintrc.js
  .travis.yml
  README.md
  package.json
  packages/eslint-mdx/README.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/README.md
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/typings.d.ts
  test/parser.test.ts
  yarn.lock
Due: prettier --write, eslint

docs: update README
  packages/eslint-mdx/README.md
Due: prettier --write

chore(release): v1.4.3
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix(deps): update dependency remark-mdx to ^1.4.4 (#60)
  packages/eslint-mdx/package.json
  yarn.lock
Due: prettier --write

chore(release): v1.4.4
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(deps): remove unnecessary dev dependencies, change repository link
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write
