Repository enthusiastica/eslint-mdx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: add `prepublishOnly` lifecycle script, close #116 (#117)
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write

chore(release): v1.6.5
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

ci: skip publish on CI automatically
  .travis.yml
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/no-jsx-html-comments.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  yarn.lock
Due: prettier --write, eslint

fix: adjacent self-closing jsx nodes parsing error - close #138
  packages/eslint-mdx/src/traverse.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/adjacent.mdx
Due: eslint

v1.6.6
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(release): v1.6.7
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(release): v1.6.8
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

docs: add CONTRIBUTING documentation for releasing specifically (#141)
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: prettier --write

build: integration with yarn-deduplicate
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: bump all (dev)Dependencies
  lerna.json
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/rules/helper.ts
  test/__snapshots__/fixtures.test.ts.snap
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

fix: self closing tag should not be combined - close #158 (#196)
  packages/eslint-mdx/src/traverse.ts
  test/no-unescaped-entities.test.ts
Due: eslint

chore(release): v1.6.9
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(deps): update dependency @babel/preset-env to ^7.9.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.34
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to ^3.1.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^13.13.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^25.4.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency remark-parse to ^8.0.1
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  yarn.lock
Due: prettier --write

feat: catch remark process error
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/rules/remark.ts
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.7.0
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: compatibility with typescript-eslint (#209)
  .eslintrc.js
  package.json
  packages/eslint-mdx/package.json
  packages/eslint-mdx/src/helper.ts
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/package.json
  packages/eslint-plugin-mdx/src/configs/recommended.ts
  packages/eslint-plugin-mdx/src/index.ts
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/no-jsx-html-comments.ts
  packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  test/fixtures.test.ts
  test/helper.ts
  tslint.json
  yarn.lock
Due: prettier --write, eslint

chore: fix test cases (#210)
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/types.ts
  test/parser.test.ts
Due: eslint

chore(deps): update dependency @types/jest to ^26.0.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^14.0.14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^26.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.41
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency type-coverage to ^2.8.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/lib-config to ^0.5.5
  package.json
  yarn.lock
Due: prettier --write

fix: use source code to get combined jsx value (#218)
  .gitignore
  package.json
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/traverse.ts
  packages/eslint-mdx/src/types.ts
  test/no-unescaped-entities.test.ts
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.7.1
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(deps): update dependency @types/jest to ^26.0.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.44
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^26.1.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^14.0.27
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency type-coverage to ^2.9.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to ^3.9.7
  package.json
  yarn.lock
Due: prettier --write

feat: remark-mdx is not compatible with normal markdown syntaxes (#206)
  packages/eslint-mdx/src/parser.ts
  packages/eslint-plugin-mdx/src/rules/helper.ts
  packages/eslint-plugin-mdx/src/rules/remark.ts
  test/__snapshots__/fixtures.test.ts.snap
  test/fixtures/remark.md
  yarn.lock
Due: prettier --write, eslint

chore(release): v1.8.0
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

chore(release): v1.8.1
  CHANGELOG.md
  lerna.json
  packages/eslint-mdx/CHANGELOG.md
  packages/eslint-mdx/package.json
  packages/eslint-plugin-mdx/CHANGELOG.md
  packages/eslint-plugin-mdx/package.json
Due: prettier --write

fix: parsing many comments error due to mutable regex (#227)
  packages/eslint-mdx/src/parser.ts
  packages/eslint-mdx/src/regexp.ts
  test/parser.test.ts
Due: eslint

Path conditions:
  prettier --write: any of: *.{html,json,md,scss,yml}
  eslint: any of: *.{mdx,js,ts}
